doctype html
html(lang='ru', dir='ltr')
  head
    //- SEO
    title= title 
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    meta(name='description', content='Устали от поисков удачного дизайна? Теперь вы можете расслабиться! Отныне ваши заботы я беру на себя.')
    meta(name='robots', content='index, follow')
    //- Apple Progressive Web App Meta
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='format-detection', content='telephone=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='application-name', content='HenyaDesign')
    meta(name='apple-mobile-web-app-title', content='HenyaDesign')
    meta(name='theme-color', content='#0A002D')
    meta(name='msapplication-navbutton-color', content='#0A002D')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
    meta(name='msapplication-starturl', content='/')
    link(rel='icon', href='images/app-icon.png')
    link(rel='apple-touch-icon', href='images/app-icon.png')
    //- Facebook Open Graph
    meta(property='og:image', content='images/facebook/og-image.png')
    meta(property='og:site_name', content=`${title}`)
    meta(property='og:type', content='website')
    //- Favicon
    link(rel='shortcut icon', href='images/favicons/favicon.ico', type='image/x-icon')
    //- Progressive Web App manifest
    <link rel="manifest" href="manifest.json">
    //- Background image preloading
    link(rel='preload', as='image', href='../images/main-background-640-1136.png', media='max-width: 767px')
    link(rel='preload', as='image', href='../images/main-background-768-1024.png', media='(min-width: 768) and (max-width: 1279)')
    link(rel='preload', as='image', href='../images/main-background-1280-720.png', media='(min-width: 1280) and (max-width: 1920)')
    link(rel='preload', as='image', href='../images/main-background-1920-1080.png', media='min-width: 1921')
    link(rel='preload', href='fontloader.js', as='script')
    //- Sets dinamic --vh custom property
    script(src='vhfix.js')
    //- Web Fonts Loader
    script(src='fontloader.js')
    //- Bootstrap stylesheet (for client logo slider)
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    //- Main site stylesheet
    link(rel='stylesheet', href='/styles.css')
    //- Font-Awesome
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
  body
    noscript
      .noscript
        p JavaScript is not enabled. To continue please enable JavaScript in your browser settings!
    block content
    script(defer, src='https://code.jquery.com/jquery-2.2.0.min.js', type='text/javascript')
    script(defer, src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(defer, src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js')
    script(defer, src='main.js')
    script(defer, src='analytics.js')
    script(defer, src='https://www.google-analytics.com/analytics.js')
