input.hidden-menu-ticker#hidden-menu-ticker(type='checkbox')
label.btn-menu(for='hidden-menu-ticker')
  span.first
  span.second
  span.third
ul.hidden-menu
  li.hidden-menu-link-holder
    a.hidden-menu-link(href='#home') В НАЧАЛО
  li.hidden-menu-link-holder
    a.hidden-menu-link(href='#services') УСЛУГИ
  li.hidden-menu-link-holder
    a.hidden-menu-link(href='#portfolio') ПОРТФОЛИО
  li.hidden-menu-link-holder
    a.hidden-menu-link(href='#about') ОБО МНЕ
  li.hidden-menu-link-holder
    a.hidden-menu-link(href='#testimonials') ОТЗЫВЫ
  li.hidden-menu-link-holder
    a.hidden-menu-link(href='#faq') ВОПРОСЫ И ОТВЕТЫ
  li.hidden-menu-link-holder
    a.hidden-menu-link(href='#partners') МОИ КЛИЕНТЫ
  li.hidden-menu-link-holder
    a.hidden-menu-link(href='#contact') ОСТАВИТЬ ЗАЯВКУ
