//- section.row#organizations
//-   header.section-headline
//-     h3 Мои клиенты
//-   p Здесь будут расположены логотипы компаний и организаций, которые прибегали к моим услугам.
section.row.container#partners
  header.section-headline
    h3 Мои клиенты
  section.customer-logos.slider
    .slide
      img(src="https://image.freepik.com/free-vector/luxury-letter-e-logo-design_1017-8903.jpg")
    .slide
      img(src="https://image.freepik.com/free-vector/3d-box-logo_1103-876.jpg")
    .slide
      img(src="https://image.freepik.com/free-vector/blue-tech-logo_1103-822.jpg")
    .slide
      img(src="https://image.freepik.com/free-vector/colors-curl-logo-template_23-2147536125.jpg")
    .slide
      img(src="https://image.freepik.com/free-vector/abstract-cross-logo_23-2147536124.jpg")
    .slide
      img(src="https://image.freepik.com/free-vector/football-logo-background_1195-244.jpg")
    .slide
      img(src="https://image.freepik.com/free-vector/background-of-spots-halftone_1035-3847.jpg")
    .slide
      img(src="https://image.freepik.com/free-vector/retro-label-on-rustic-background_82147503374.jpg")