section.row#portfolio
  header.section-headline
    h3 Примеры работ
  .portfolio-slider-container
    button.arrow.prev(aria-label='previous')
    button.arrow.next(aria-label='next')
    //- preload portfolio images
    img.portfolio-image.hidden(data-src='../images/portfolio-images/happy-kippah.jpeg', alt='Happy Kippah')
    img.portfolio-image.hidden(data-src='../images/portfolio-images/sarawigs.jpeg', alt='Sara Wigs')
    img.portfolio-image.hidden(data-src='../images/portfolio-images/self-portrait.jpeg', alt='Self Portrait')
    img.portfolio-image.hidden(data-src='../images/portfolio-images/taglit.jpeg', alt='Taglit')
    img.portfolio-image.hidden(data-src='../images/portfolio-images/toldot.jpeg', alt='Toldot')
    img.portfolio-image.hidden(data-src='../images/portfolio-images/watoto-kids.jpeg', alt='Watoto Kids')
    img.portfolio-image.hidden(data-src='../images/portfolio-images/live-the-life.jpeg', alt='Live the Life')
    .portfolio-slider
      button.arrow.prev(aria-label='previous')
      button.arrow.next(aria-label='next')
