section.row#about
  header.section-headline
    h3 Обо мне
  .about-container
    img.my-photo(src="../images/me.jpg" alt="my photo")
    p.text-content Меня зовут Геня Адлер, я молодой и талантливый графический дизайнер. По крайней мере, так считают мои довольные клиенты, чьему мнению я полностью доверяю. <i class="far fa-smile-wink smile"></i>
    br
    p.text-content Я родилась в Украине, на данный момент живу в Израиле, однако принимаю заказы у людей со всего мира.
    br
    p.text-content Сколько я себя помню, я всегда увлекалась графикой, однако со временем я осознала, что эта тема увлекает меня настолько, что мне непременно стоит заняться ей профессионально. Поэтому окончив школу, я окончательно сделала свой выбор в пользу своего давнего увлечения и поступила на факультет PR и рекламы московского института "Махон Хамеш". Здесь моими учителями были настоящие профессионалы своего дела,  ведущие российские специалисты в области рекламы и дизайна.
    br
    p.text-content После переезда в Израиль я продолжила развиваться профессионально и поступила в Шенкар — Тель-Авивский колледж инженерии, дизайна и искусств, который по праву считается одним из лучших учебных заведений для дизайнеров в Израиле и во всем мире.
    br
    p.text-content Еще до окончания учебы мне посчастливилось устроиться на работу по специальности в типографии. За время работы там я приобрела огромный опыт в плане работы с клиентом, а также поняла насколько важно выполнять заказы быстро и качественно — это в своем роде закалило меня и подготовило к самостоятельной работе в качестве фрилансера.
    br
    p.text-content На данный момент я работаю графическим дизайнером в крупной фирме, но в то же время частным образом принимаю заказы на дизайн логотипов, рекламных плакатов, буклетов, визиток и многого-многого другого...