section.row(id="benefits")
  header.section-headline
    h3 Почему мы?
  p Здесь будут расположены несколько блоков (3-4), перечисляющих преимущества нашей фирмы и объясняющих почему клиент должен выбрать именно нас.
