section.row#faq
  header.section-headline
    h3 Вопросы и ответы
  .faq-container
    article.faq-article
      .question-container
        include faq-circle
        p.question-text Я не живу в Израиле. Могу ли я сделать у вас заказ?
      .answer-container
        p.answer-text.text-content Не имеет значения в какой точке планеты вы находитесь, ваш заказ будет выполнен в одинаковой мере быстро и качественно! Оплату можно произвести по PayPal, либо денежным переводом. Если это необходимо, вам будет предоставлен инвойс и квитанция об оплате международного образца в электронном виде.
    article.faq-article#more-questions
      .faq-action-container
        include faq-circle
        p.question-text Все вопросы ...
    article.faq-article.hidden-question
      .question-container
        include faq-circle
        p.question-text Я хотел бы заказать логотип для своей будущей фирмы. Что для этого нужно? Предоставляете ли вы варианты на выбор?
      .answer-container
        p.answer-text.text-content Процесс создания логотипа происходит по следующей схеме. Вначале вы связываетесь со мной и мы обсуждаем ваши пожелания. Когда общее направление становится более-менее ясным, я приступаю к работе. Через оговоренное время, я отправляю вам на выбор несколько предварительных вариантов из которых вам надо будет выбрать один, от которого мы впредь будем отталкиваться. Далее я работаю над выбранным вариантом, корректируя его в соответствии с вашими пожеланиями. Наконец, когда все готово, вы получаете окончательный вариант логотипа. Поздравляю с обновкой!
    article.faq-article#hide-questions
      .faq-action-container
        include faq-circle
        p.question-text Свернуть вопросы