footer.row#footer
  .section-headline
    h3 Подвал
  p Здесь будет расположена информация по поводу самого сайта (копирайт, кем сделан и т.п). Возможно, будут также продублированы ссылки на социальные сети и контактная информация.
