section.home.full-screen(id="home")
  .row.topbar(id="home-topbar")
    .topbar-contacts
      .topbar-contact-icon
        i.fas.fa-map-marker-alt
      a.topbar-contact-text(href="waze://?ll=31.891377,34.819971&navigate=yes" title="Navigate with Waze") Rehovot, Israel
      .topbar-contact-icon(id="topbar-number-icon")
        i.fas.fa-mobile-alt
      a.topbar-contact-text(href="tel:+972587782776" title="Click to dial from mobile" id="topbar-number") +972587782776
      .topbar-contact-icon
        i.fas.fa-envelope
      a.topbar-contact-text(href="mailto:henyadesign@gmail.com") henyadesign@gmail.com
    .topbar-social-links
      a.topbar-link(href="#contact" title="Send Email" id="topbar-mail-icon")
        i.fas.fa-envelope
      a.topbar-link(href="https://www.facebook.com/henyadesign" title="Go to Facebook page" id="topbar-facebook-icon")
        i.fab.fa-facebook-square
      a.topbar-link(href="https://www.instagram.com/henya_design/" title="Go to Instagram page" id="topbar-instagram-icon")
        i.fab.fa-instagram
      a.topbar-link(href="https://www.linkedin.com/in/henyaadler/" title="Go to Linkedin page" id="topbar-linkedin-icon")
        i.fab.fa-linkedin
  nav.row.home-navbar(id="home-navbar")
    img.logo(src="../images/logo.png" alt="Henya Adler Design")
    include mobile-menu
    ul.home-navigation
      li.home-navigation-link-holder
        a.home-navigation-link(href="#home") в начало
      li.home-navigation-link-holder
        a.home-navigation-link(href="#services") услуги
      li.home-navigation-link-holder
        a.home-navigation-link(href="#portfolio") портфолио
      li.home-navigation-link-holder
        a.home-navigation-link(href="#benefits") преимущества
      li.home-navigation-link-holder
        a.home-navigation-link(href="#questions-and-answers") вопросы и ответы
      li.home-navigation-link-holder
        a.home-navigation-link(href="#testimonials") отзывы
      li.home-navigation-link-holder
        a.home-navigation-link(href="#organizations") наши клиенты
      li.home-navigation-link-holder
        a.home-navigation-link(href="#contact") оставить заявку
        
  .home-container
    header.home-headline
      h1 Устали от поисков удачного дизайна?
    .home-sections
      .home-illustration-section
        .home-illustration
      .home-content-section
        .home-subheadline
          h2 Теперь вы можете расслабиться!
          h2 Отныне ваши заботы мы берем на себя.
        .home-action
          .home-proposition
            h2 Хотите узнать больше?
          .home-contact-options
            a.home-social-link.home-mail-link(href="mailto:henyadesign@gmail.com" title="Send Email")
            a.home-social-link.home-whatsapp-link(href="https://wa.me/972587782776" title="Call (from mobile)")
            a.home-social-link.home-facebook-link(href="fb://page/2036302739931258" title="Go to Facebook page")
            a.home-social-link.home-instagram-link(href="instagram://user?username=henya_design" title="Go to Instagram page")
            a.home-social-link.home-linkedin-link(href="https://www.linkedin.com/in/henyaadler" title="Go to LinkedIn page")
