.home.full-screen(id='home')
  .row.topbar
  .row.navbar
    .navbar-inner
      .logo
        include menu
      .navigation
  .home-content
    .headline
      h1 Устали от поисков удачного дизайна?
    .subheadline
      h2 Теперь вы можете расслабиться!
      h2 Отныне ваши заботы я беру на себя.
    .proposition
      h2 Хотите узнать больше?
    .action-button-holder
      a.action-button(href='#action') Оставить заявку
