extends layout

block content
  include home
  include services
  include portfolio
  include benefits
  include questions-and-answers
  include testimonials
  include organizations
  include contact
  include footer
