doctype html
html.page(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    title Henya Adler Design
    
    // Font-Awesome
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")
    
    // Fonts
    link(href="https://fonts.googleapis.com/css?family=Caveat:700|Cormorant+Infant:400,400i,700|Playfair+Display+SC:400,700,900&amp;subset=cyrillic" rel="stylesheet")  

  body.page
    block content
