doctype html
html.page(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no')
      
    
    title Henya Adler Design
    // Font-Awesome
    script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous")
    script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous")
    
    //link(rel='stylesheet' type='text/css' href='stylesheets/bundle.css')
    //- link(rel='stylesheet' type='text/css' media='only screen and (max-width: 767px)' href='stylesheets/mobile.css')
    //- link(rel='stylesheet' type='text/css' media='only screen and (min-width: 768px) and (max-width: 1366px)' href='stylesheets/tablet.css')
    //- link(rel='stylesheet' type='text/css' media='only screen and (min-width: 1367px) and (max-width: 1919px)' href='stylesheets/desktop.css')
    //- link(rel='stylesheet' type='text/css' media='only screen and (min-width: 1920px)' href='stylesheets/large-desktop.css')
      
    // Fonts
    link(href="https://fonts.googleapis.com/css?family=Caveat:700|Cormorant+Infant:400,400i,700|Playfair+Display+SC:400,700,900&amp;subset=cyrillic" rel="stylesheet")
    
  body.page
    block content
    //script(src='javascripts/bundle.js')
