input#hidden-menu-ticker.hidden-menu-ticker(type="checkbox")
label.btn-menu(for="hidden-menu-ticker")
  span.first
  span.second
  span.third
ul.hidden-menu
  li.hidden-menu-link-holder
    a.hidden-menu-link(href="#home") В начало
  li.hidden-menu-link-holder
    a.hidden-menu-link(href="#services") Услуги
  li.hidden-menu-link-holder
    a.hidden-menu-link(href="#portfolio") Портфолио
  li.hidden-menu-link-holder
    a.hidden-menu-link(href="#about") Обо мне
  li.hidden-menu-link-holder
    a.hidden-menu-link(href="#testimonials") Отзывы
  li.hidden-menu-link-holder
    a.hidden-menu-link(href="#faq") Вопросы и ответы
  li.hidden-menu-link-holder
    a.hidden-menu-link(href="#organizations") Мои клиенты
  li.hidden-menu-link-holder
    a.hidden-menu-link(href="#contact") Оставить заявку
