section.row(id="portfolio")
  header.section-headline
    h3 Примеры работ
  .slider-container
    button.arrow.prev
    button.arrow.next
    //- preload portfolio images
    img.portfolio-image.preload(src='../images/portfolio-images/self-portrait-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/flower-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/business-card1-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/business-card2-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/business-card3-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/2017-small.png')
    img.portfolio-image.preload(src='../images/portfolio-images/be-yourself-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/camel-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/collage-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/invitation1-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/invitation2-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/jacobs-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/live-the-life-small.png')
    img.portfolio-image.preload(src='../images/portfolio-images/2018-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/old-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/player1-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/player2-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/toldot1-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/toldot2-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/veggie-small.jpg')
    img.portfolio-image.preload(src='../images/portfolio-images/yad-itzhak-small.png')
    .slider
      button.arrow.prev
      button.arrow.next
    