section.row#portfolio
  header.section-headline
    h3 Примеры работ
  .slider-container
    button.arrow.prev
    button.arrow.next
    //- preload portfolio images
    img.portfolio-image.preload(src='../images/portfolio-images/happy-kippah.jpeg')
    img.portfolio-image.preload(src='../images/portfolio-images/sarawigs.jpeg')
    img.portfolio-image.preload(src='../images/portfolio-images/self-portrait.jpeg')
    img.portfolio-image.preload(src='../images/portfolio-images/taglit.jpeg')
    img.portfolio-image.preload(src='../images/portfolio-images/toldot.jpeg')
    img.portfolio-image.preload(src='../images/portfolio-images/watoto-kids.jpeg')
    img.portfolio-image.preload(src='../images/portfolio-images/live-the-life.jpeg')
    .slider
      button.arrow.prev
      button.arrow.next