section.row(id="portfolio")
  header.section-headline
    h3 Примеры работ
  .carousel-wrapper
    .carousel(id="carousel")
      button.arrow.prev
      .gallery-wrapper
        ul.gallery(id="gallery")
          li.gallery-item
            .image-wrapper
              img(src="images/portfolio-images/2017.png", alt="Jerusalem 2017")
          li.gallery-item
            .image-wrapper
              img(src="images/portfolio-images/business-card1.jpg", alt="Business card 1")
      button.arrow.next
