section.row(id="questions-and-answers")
  header.section-headline
    h3 Вопросы и ответы
  p Здесь будут даны ответы на некоторые возможные вопросы по поводу наших услуг. Возможно, в конце стоит упомянуть, что по любым дополнительным вопросам всегда можно связаться с нами и поместить дополнительную ссылку на контактную форму
