section.row(id="services")
  .services-container
    header.services-headline
      h3 Что вы получите?
    .services-content
      .service-wrapper
        .service
          img.service-image(src="images/services/logo&style.png")
          .service-caption
            p Разработка логотипов, фирменного стиля
      .service-wrapper
        .service
          img.service-image(src="images/services/flyers.png")
          .service-caption
            p Дизайн и верстка рекламы, плакатов, листовок
      .service-wrapper
        .service
          img.service-image(src="images/services/greeting-cards.png")
          .service-caption
            p Дизайн приглашений, поздравительных открыток
      .service-wrapper
        .service
          img.service-image(src="images/services/packages.png")
          .service-caption
            p Разработка упаковок, дизайн этикеток
      .service-wrapper
        .service
          img.service-image(src="images/services/roll-ups.png")
          .service-caption
            p Дизайн наружной рекламы, roll-up, баннеры.
      .service-wrapper
        .service
          img.service-image(src="images/services/calendars.png")
          .service-caption
            p Дизайн и верстка календарей
      .service-wrapper
        .service
          img.service-image(src="images/services/books.png")
          .service-caption
            p Дизайн и верстка журналов, книг, каталогов, брошюр, газет
      .service-wrapper
        .service
          img.service-image(src="images/services/and-much-more.png")
          .service-caption
            p И многое другое...
