section.row(id="services")
  .services-container
    header.section-headline
      h3 Что вы получите?
    .services-content
      .service-wrapper
        .service
          img.service-image(src="images/services/logo&style.png" alt="Logo & style")
          .service-caption
            p Разработка логотипов, фирменного стиля
      .service-wrapper
        .service
          img.service-image(src="images/services/flyers.png" alt="Flyers")
          .service-caption
            p Дизайн и верстка рекламы, плакатов, листовок
      .service-wrapper
        .service
          img.service-image(src="images/services/greeting-cards.png" alt="Greeting cards")
          .service-caption
            p Дизайн приглашений, поздравительных открыток
      .service-wrapper
        .service
          img.service-image(src="images/services/packages.png" alt="Packages")
          .service-caption
            p Разработка упаковок, дизайн этикеток
      .service-wrapper
        .service
          img.service-image(src="images/services/roll-ups.png" alt="Roll-ups")
          .service-caption
            p Дизайн наружной рекламы, roll-up, баннеры.
      .service-wrapper
        .service
          img.service-image(src="images/services/calendars.png" alt="Calendars")
          .service-caption
            p Дизайн и верстка календарей
      .service-wrapper
        .service
          img.service-image(src="images/services/books.png" alt="Books")
          .service-caption
            p Дизайн и верстка журналов, книг, каталогов, брошюр, газет
      .service-wrapper
        .service
          img.service-image(src="images/services/and-much-more.png" alt="And much more")
          .service-caption
            p И многое другое...
