section.row#testimonials
  header.section-headline
    h3 Отзывы
  .testimonials-container
    article.testimonial
      img.testimonial-image(src="../images/spector.jpg" alt="Jenny Bat'ya Spector")
      h4.testimonial-name Jenny Bat'ya Spector
      h5.testimonial-position Главный волонтер в JCC "Migdal", Израиль
      p.testimonial-content.text-content Очень благодарна Гене за творческий подход в работе, за качество выполнения и терпение! Уверена, что лого и дизайн, выполненный Геней для меня, помогут моему дальнейшему продвижению!
    article.testimonial
      img.testimonial-image(src="../images/nesterov.jpg" alt="Alexander Nesterov")
      h4.testimonial-name Александр Нестеров
      h5.testimonial-position Главный раввин Ставропольского края, Россия
      p.testimonial-content.text-content Профессиональный дизайнер. Оперативно и ответственно выполняет работу. Спасибо, Геня!
    article.testimonial
      img.testimonial-image(src="../images/yad-yitzchok.jpg" alt="Yad Yitzchok")
      h4.testimonial-name Yad Yitzchok
      h5.testimonial-position Благотворительный фонд, Израиль
      p.testimonial-content.text-content Геня для нас сделала аватарку, заказ выполнила быстро и на высоком уровне! Спасибо большое, будем рады сотрудничать в будущем.


