/* colors */
$black: #000;
$white: #FFF;
$violet-light: #CB74C0;
$violet-dark: #0A002D;

/* breakpoints */
$tablet: 768px;
$desktop: 1280px;
$large-desktop: 1921px;

/* adaptive images */
$phones: '(max-width: #{$tablet - 1})';
$tablets: '(min-width: #{$tablet}) and (max-width: (#{$desktop - 1}))';
$desktops: '(min-width: #{$desktop}) and (max-width: (#{$large-desktop - 1}))';
$large-desktops: '(min-width: #{$large-desktop})';

$social-links-list: mail, facebook, instagram, linkedin;

$social-links-image-sizes-list: (
  $phones: '48', 
  $tablets: '64',
  $desktops: '100'
);

$home-background-sizes-list: (
  $phones: '640-1136',
  $tablets: '768-1024',
  $desktops: '1280-720',
  $large-desktops: '1920-1080'
);

$home-illustration-sizes-list: (
  $phones: '261-265',
  $tablets: '494-502',
  $desktops: '639-649',
  $large-desktops: '959-974'
);