.topbar {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 4.5%;
    background-color: $violet-dark;
  }
}

.topbar-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  margin-left: 1.5vw;
}

.topbar-contact-icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5vw;
  font-size: 1em;
  color: $white;

  @media (min-width: $desktop) {
    font-size: 1.3em;
  }

  @media (min-width: $large-desktop) {
    font-size: 2em;
  }
}

.topbar-contact-text {
  margin-right: 1vw;
  font-family: "Cormorant Infant", serif;
  font-weight: bold;
  font-size: 1em;
  color: $white;
  text-decoration: none;

  &:hover, &:focus {
    color: $white;
  }

  @media (min-width: $desktop) {
    font-size: 1.3em;
  }

  @media (min-width: $large-desktop) {
    font-size: 2em;
  }
}

.topbar-social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  margin-right: 1.5vw;
}

.topbar-link {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 1vw;
  font-size: 1.5em;
  color: $white;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $large-desktop) {
    font-size: 2em;
  }
}

.home-navbar {
  height: 20%;
  background-color: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  @media (min-width: $tablet) {
    height: 15.5%;
    justify-content: space-between;
  }
}

.logo {
  height: 100%;
}

.home-navigation {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    margin-right: 1.5vw;
    padding: 0;
  }
  @media only screen
  and (min-width: 1024px)
  and (max-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) { // iPad pro in lanscape orientation
    display: none;
  }
}

.home-navigation-link-holder {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 1vw;

  &:last-child {
    margin: 0;
  }
}

.home-navigation-link {
  display: block;
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-size: 1.6em;
  color: $violet-dark;
  text-decoration: none;

  @media (min-width: $large-desktop) {
    font-size: 2em;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  background: url('../images/main-background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.home-headline {
  margin-top: calc(80vh * 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 20%;
  opacity: 0;

  h1 {
    font-weight: 900;
    font-size: 6.7vmin;
    line-height: 10.5vmin;

    @media (min-width: $tablet) {
      font-size: 5vmin;
      line-height: 9vw;
    }
  }
}

.home-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;

  @media (max-width: $desktop) {
    flex-direction: column;
  }
  @media (orientation: landscape), (min-width: $desktop) {
    flex-direction: row;
  }
}

.home-illustration-section {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;

  @media (orientation: landscape) {
    width: 40%;
    height: 100%;
  }
}

.home-illustration {
  opacity: 0;
  width: 100%;
  height: 90%;
  background-image: url('../images/armchair.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.home-content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 50%;
  overflow: hidden;

  @media (orientation: landscape) {
    justify-content: space-around;
    width: 60%;
    height: 100%;
  }
}

.home-subheadline {
  position: relative;
  left: 3000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  height: 40%;

  @media (orientation: landscape), (min-width: $desktop) {
    justify-content: center;
    height: 50%;
  }
}

.home-action {
  position: relative;
  top: 100%;
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 2vmin;
  opacity: 0;

  @media (min-width: $tablet) and (orientation: portrait) {
    padding-bottom: 5vmin;
  }
  @media (orientation: landscape), (min-width: $desktop) {
    padding-bottom: 5vmin;
    height: 50%;
  }
}

.home-subheadline, .home-action {
  h2 {
    font-family: "Caveat", cursive;
    font-weight: 700;
    font-size: 6.2vmin;
    color: $white;
    margin: 0;
  }

  @media (min-width: $tablet) {
    h2 {
      font-size: 5vmin;
    }
  }
  @media (min-width: $desktop) {
    h2 {
      font-size: 6.5vmin;
    }
  }
  @media (min-width: $desktop) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    h2 {
      font-size: 5vmin;
    }
  }
}

.home-proposition {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 1vmin;
}

.home-contact-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home-social-link {
  display: block;
  height: 15vmin;
  width: 15vmin;
  border-radius: 50%;
  background-size: cover;
  margin-left: 1vmin;
  margin-right: 1vmin;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet) {
    height: 10vmin;
    width: 10vmin;
  }
}

.home-mail-link {
  background-color: $white;
  background-image: url('../images/mail-round.png')
}
.home-whatsapp-link {
  background-image: url('../images/whatsapp-round.png');

  @media (min-width: $tablet) {
    display: none;
  }
}
.home-linkedin-link {
  background-image: url('../images/linkedin-round.png');
}
.home-facebook-link {
  background-image: url('../images/facebook-round.png')
}
.home-instagram-link {
  background-image: url('../images/instagram-round.png')
}
