.topbar {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 4.5%;
    background-color: $violet-dark;
  }
}

.topbar-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  margin-left: 0.5vw;
}

.topbar-contact-icon {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1vw;
  margin-right: 0.5vw;
  font-size: 1em;
  color: $white;
}

.topbar-contact-text {
  font-family: "Cormorant Infant", serif;
  font-weight: bold;
  font-size: 1em;
  color: $white;
  text-decoration: none;

  &:hover, &:focus {
    color: $white;
  }
}

.topbar-social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  margin-right: 5.3vw;
}

.topbar-link {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 1vw;
  font-size: 1.5em;
  color: $white;
  text-decoration: none;

  &:last-child {
    margin-right: 0;
  }
}

.navbar {
  height: 20%;
  background-color: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

  @media (min-width: $tablet) {
    height: 15.5%;
    justify-content: space-between;
  }

  // @media (min-width: $large-desktop) {
  //
  // }
}

.logo {
  height: 100%;
}

.home-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.main-navigation {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-right: 5.3vw;
  }
}

.main-navigation-link-holder {
  display: flex;
  align-items: center;
  height: 30%;
  list-style-type: none;
  margin-right: 1vw;

  &:last-child {
    margin: 0;
  }
}

.main-navigation-link {
  display: block;
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-size: 1.5em;
  color: $violet-dark;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $large-desktop) {
    font-size: 1.5em;
  }
}

.home-content {
  width: 100%;
  height: 80%;
  background-color: $violet-light;
  background: url("../images/main-background.png") no-repeat 0 0;
  background-size: cover;
}

.home-headline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 40%;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;

  h1 {
    font-family: "Playfair Display SC", serif;
    font-weight: 700;
    font-size: 7vw;
    text-transform: uppercase;
    color: $white;
    margin: 0;

    @media (orientation: landscape) {
      font-size: 7vh;
    }
  }
}

.home-subheadline {
  width: 90%;
  height: 30%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.proposition {
  width: 90%;
  height: 10%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-button-holder {
  width: 80%;
  height: 10%;
  margin: 1% auto 0 auto;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
  border: 1px solid #ac730b;
  border-radius: 8px;
  background: #ffbd12;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffbd12), to(#ac730b));
  background: -moz-linear-gradient(top, #ffbd12, #ac730b);
  background: linear-gradient(to bottom, #ffbd12, #ac730b);
  text-shadow: #7b5208 1px 1px 1px;
  font: normal normal bold 1.3rem "Playfair Display SC", serif;
  color: $white;
  text-decoration: none;
  text-transform: uppercase;

  &:hover, &:focus {
    border: 1px solid #f6a410;
    background: #ffe316;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffe316), to(#ce8a0d));
    background: -moz-linear-gradient(top, #ffe316, #ce8a0d);
    background: linear-gradient(to bottom, #ffe316, #ce8a0d);
    color: $white;
    text-decoration: none;
  }

  &:active {
    background: #ac730b;
    background: -webkit-gradient(linear, left top, left bottom, from(#ac730b), to(#ac730b));
    background: -moz-linear-gradient(top, #ac730b, #ac730b);
    background: linear-gradient(to bottom, #ac730b, #ac730b);
  }
}

@media (min-width: $tablet) {

}

@media (min-width: $desktop) {

}

@media (min-width: $large-desktop) {

}
