#portfolio {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  height: calc(21.375vmin + 90vmin);
  min-height: calc(21.375vmin + 90vmin);
}

.slider-container {
  width: 90vmin;
  height: 90vmin;
  position: relative;
  border: 1px solid white;
}

.slider {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.25s ease-out;

  &:fullscreen {
    background-color: $violet-dark;
  }
}

.arrow {
  width: 15%;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 0;
  background: transparent;
  background-size: auto 15%;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  z-index: 3;

  &:focus, &:hover, &:active {
    cursor: pointer;
  }
}

.slider > .arrow {
  display: none;
}
.slider:fullscreen > .arrow {
  display: block;
}

.prev {
  left: 0;
  background-image: url("../images/left.svg");
}

.next {
  right: 0;
  background-image: url("../images/right.svg");
}