/* colors */
$black: #000;
$white: #fff;
// $violet-light: #D79392;
$violet-light: rgba(203, 116, 192, 0.5);
// $violet-medium: #A7567B;
$violet-medium: #BC3895;
$violet-dark: #3A1C34;
$coffee: #0E0600;

/* breakpoints */
$tablet: 768px;
$desktop: 1367px;
$large-desktop: 1921px;
