/* colors */
$black: #000;
$white: #FFF;
$violet-light: #CB74C0;
$violet-medium: #BC3895;
$violet-dark: #0A002D;
$gray-light: #D3D3D3;
$gray-dark: #A9A9A9;

/* breakpoints */
$tablet: 768px;
$desktop: 1280px;
$large-desktop: 1921px;
