/* colors */
$black: #000;
$white: #fff;
$gray: #D3D3D3;
$green: #008000;
$violet-light: #77749C;
$violet-blue: #4C3E66;
$violet-medium: #6E2250;
$violet-dark: #1A0430;

/* breakpoints */
$tablet: 768px;
$desktop: 1367px;
$large-desktop: 1920px;
